@use "../base/variables" as *;

input[type="text"] {
  color: var(--font-color-form);
  padding-inline: $unit-05;
  background-color: #fff;
  border: $border-width solid #d1d1d1;
  border-radius: $border-radius-s;
  box-shadow: none;
  box-sizing: border-box;
  margin: $border-offset;
  font-family: inherit;
  font-size: $font-size-xl;
  max-width: 100%;

  &:focus {
    border: $border-width-thick solid var(--player1-color);
    margin: 0;
    outline: none;
  }
  .player2 & {
    border: $border-width-thick solid var(--player2-color);
  }
}
