@use "../base/variables" as *;

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  all: unset;
  border-radius: $border-radius;
  box-sizing: border-box;
  box-shadow: $shadow-normal-l var(--shadow);
  background-color: var(--foreground-color);
  color: var(--font-color);
  cursor: pointer;
  padding: $unit-1;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;

  &.active,
  &:hover {
    background-color: $neutral-95;
  }
}

.panel {
  padding: $unit-1 $unit-15;
  background-color: var(--foreground-color);
  box-shadow: $shadow-normal var(--shadow);
  overflow: hidden;
  transition: display 0.2s ease-in;
  width: 100%;
}
