@use "../base/variables" as *;

.buttonContainer {
  background-color: var(--foreground-color);
  border-radius: $border-radius;
  box-shadow: $shadow-normal var(--shadow);
  margin-top: auto;
  padding: $unit-15;
  z-index: 5;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $unit-1;
  align-items: center;

  button {
    text-transform: uppercase;
  }

  .dice {
    border-radius: $border-radius;
    border: $border-width var(--font-color) solid;
    font-size: $font-size-xxl;
    height: $unit-2;
    width: $unit-2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .buttonContainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 3;

    button {
      font-size: $font-size-base;
      flex: 1 1 0px;
      display: flex;
      justify-content: center;

      &:nth-of-type(1) {
        order: 0;
      }
      &:last-of-type {
        order: 2;
      }
    }

    .dice {
      order: 1;
    }
  }
}
