@use "../base/variables" as *;

.buttonContainer {
  align-items: center;
  background-color: var(--foreground-color);
  border-radius: $border-radius;
  box-shadow: $shadow-normal var(--shadow);
  display: flex;
  flex-direction: column;
  gap: $unit-1;
  justify-content: center;
  order: 1;
  padding: $unit-15;
  height: min-content;

  button {
    // width: 100%;
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  .dice {
    border-radius: $border-radius;
    border: $border-width var(--font-color) solid;
    font-size: $font-size-xxl;
    height: $unit-2;
    width: $unit-2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .buttonContainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 0;

    button {
      font-size: $font-size-base;

      &:nth-of-type(1) {
        order: 0;
      }
      &:last-of-type {
        order: 2;
      }
    }

    .dice {
      order: 1;
    }
  }
}
