@use "../base/variables" as *;

.playerSection {
  align-items: center;
  border-radius: $border-radius;
  box-shadow: $shadow-normal-l var(--shadow);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $unit-05;
  transition: all 0.3s linear;

  &.active {
    transform: scale(1.1);
    box-shadow: 0px 0px 16px 8px $neutral-70;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    max-width: 11ch;
  }

  .current {
    background-color: var(--foreground-color);
    border-radius: $border-radius;
    margin-top: auto;
    padding: $unit-1 $unit-2;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  &.player {
    &1 {
      background-color: var(--player1-color);
    }
    &2 {
      background-color: var(--player2-color);
    }
  }

  @media (max-width: 600px) {
    &.active {
      transform: scaleY(1.1);
    }
  }
}
