@use "../base/variables" as *;

.playerSection,
.addPlayer {
  align-items: center;
  border-radius: $border-radius;
  box-shadow: $shadow-normal-l var(--shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $unit-05;
  text-align: center;
  transition: all 0.3s linear;
  order: 2;

  &.active {
    box-shadow: 0px 0px 16px 8px $neutral-75;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    max-width: 11ch;
  }

  .current {
    background-color: var(--foreground-color);
    border-radius: $border-radius;
    padding: $unit-1 $unit-2;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: $unit-1;
    align-items: center;

    .wins {
      height: min-content;
    }
  }

  &.player {
    &1 {
      background-color: var(--player1-color);
    }
    &2 {
      background-color: var(--player2-color);
    }
    &3 {
      background-color: var(--player3-color);
    }
    &4 {
      background-color: var(--player4-color);
    }
    &5 {
      background-color: var(--player5-color);
    }
  }

  @media (max-width: 600px) {
    &.active {
      transform: scaleY(1.1);
    }
  }
}

.addPlayer {
  opacity: 0.5;

  &:hover {
    cursor: pointer;
  }
}
