@use "../base/variables" as *;

.gameTable {
  position: relative;
  display: flex;
  gap: $unit-1;
  display: grid;
  grid-template-columns: auto 1fr;

  .players-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: $unit-15;
  }

  aside {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: $unit-1;
    // grid-row: 1;
  }
}
.winnerOverlay {
  position: absolute;
  inset: 0;
  background-color: hsla(50, 100%, 80, 0.3);
  cursor: pointer;

  h1 {
    font-size: $font-size-xxxl;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: $neutral-100;
    border-radius: $border-radius-s;
    padding: $unit-05 $unit-05;
    box-shadow: $shadow-normal-l $warning-color-light;
    width: 90%;
    max-width: 20ch;
  }
}

@media (max-width: 1000px) {
  .gameTable {
    flex-direction: column;
    gap: $unit-2;
    display: flex;

    .playerSection {
      flex-direction: row;
      justify-content: space-between;

      .current {
        margin-top: 0;
      }
    }
  }

  input[type="text"] {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .gameTable {
    .playerSection {
      flex-wrap: wrap;

      .current {
        width: 100%;
        flex-direction: row;
        gap: $unit-1;
        align-items: center;

        .held {
          margin-left: auto;
        }
      }
    }
    .buttonContainer {
      padding: $unit-05;
    }

    [data-alttext] > span {
      display: none;
    }

    [data-alttext]::before {
      content: attr(data-alttext);
    }
  }
  input[type="text"] {
    width: 85%;
  }
}
