@use "../base/variables" as *;

.gameTable {
  position: relative;
  display: flex;
  gap: $unit-1;
  display: grid;
  grid-template-columns: auto 1fr;

  .score {
    font-size: clamp(2rem, 5vw, 3rem);
  }
  .score-05 {
    font-size: 1.5rem;
  }

  .players-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: $unit-15;
  }

  aside {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: $unit-1;
    // grid-row: 1;
  }
}

@media (max-width: 1000px) {
  .gameTable {
    flex-direction: column;
    gap: $unit-2;
    display: flex;

    .playerSection {
      flex-direction: row;
      justify-content: space-between;

      .current {
        margin-top: 0;
      }
    }
  }

  input[type="text"] {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .gameTable {
    .playerSection {
      flex-wrap: wrap;

      .current {
        width: 100%;
        flex-direction: row;
        gap: $unit-1;
        align-items: center;

        .held {
          margin-left: auto;
        }
      }
    }
    .buttonContainer {
      padding: $unit-05;
    }

    [data-alttext] > span {
      display: none;
    }

    [data-alttext]::before {
      content: attr(data-alttext);
    }
  }
  input[type="text"] {
    width: 85%;
  }
}
